.authContainer {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authContainer__content {
  width: 90%;
  max-width: 1200px;
  height: auto;
  aspect-ratio: 7/5;
  max-height: 700px;
  /* background: #ffffff; */
  background: rgb(231, 231, 241);
  display: flex;
}

.authContainer__left {
  width: 450px;
  height: 100%;
  background: linear-gradient(to bottom, #553171, #a15dd7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.authContainer__left_text_div {
  width: 150px;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  line-height: 150%;
}

.authContainer__right {
  width: 750px;
  height: 100%;

  background: linear-gradient(
    to bottom right,
    #e9dff3 10%,
    transparent 30% 70%,
    #d4f3e2 90%
  );
}
